* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
  padding-bottom: 10%;
}
.nav-title,
.nav-menu {
  width: 50%;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10%;
  justify-content: end;
}
nav ul li {
  font-weight: 500;
}
.title {
  font-size: 220%;
  font-weight: 800;
  padding-top: 4%;
}
.header {
  background: rgba(255, 144, 14, 0.1);

  margin-bottom: 8%;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}

/* image section  */

.brand {
  font-size: 240%;
  font-weight: 700;
}
.sajuguju {
  text-align: center;
}
.explore {
  background: #ff900e;
  color: white;
  font-size: 135%;
  padding: 2%;
  border-radius: 5%;
  margin-bottom: 5%;
  border: 0;
}
.brand-des {
  color: #727272;
  font-size: 110%;
  padding-top: 2%;
}
.padding {
  padding-bottom: 3.5%;
  color: #727272;
}

.image_banner img {
  width: 100%;
}
.img_div {
  display: flex;
  margin-bottom: 5%;
  /* padding-left: 10%; */

  gap: 2%;
}
.img_div-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.babor,
.img_div-wrapper {
  width: 50%;
}
.img-div-images {
  width: 45%;
}
.img-div-images img {
  width: 100%;
}

.quick {
  margin-top: 20%;
  padding-bottom: 5%;
  font-size: 255%;
}
.color {
  color: #727272;
}
.color_orange {
  color: #ff900e;
}
.margin_bottom {
  margin-bottom: 5%;
  color: #727272;
  font-size: 100%;
}
.baba {
  display: flex;
  gap: 10%;
}
.feature {
  font-size: 250%;
  border-left: 5px solid #ff900e;
}
.woman img {
  width: 100%;
}
.jekono,
.love {
  width: 45%;
}
.common {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-top: 5%;
}
.anari {
  margin-top: 5%;
}

.experience {
  background-color: #ff8800;
  width: 40%;
  color: #ffffff;
  padding: 5%;
  text-align: center;
  border-radius: 2%;
  position: relative;
  top: -8%;
  left: -12%;
}

.fact {
  font-weight: 700;
  font-size: 250%;
  margin-bottom: 2%;
}
.fact-color {
  color: #727272;
}
.chesta {
  display: flex;
  justify-content: space-between;
}

.common-1 {
  border: 2px solid #ff900e;
  border-radius: 5%;
  padding: 4%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 15%;
}

.text {
  text-align: center;
}
.sponsor {
  font-size: 245%;
  margin-bottom: 3%;
}
.kala {
  color: #727272;
  font-size: 100%;
}

.app {
  margin-top: 5%;
}
.img {
  margin-right: 5.5%;
}
.foot {
  background-color: bisque;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 2%;
  text-align: center;
}
/* responsive */
@media screen and (max-width: 576px) {
  .nav-menu ul {
    flex-direction: column;

    padding: 2%;
    align-items: end;
  }

  .nav-menu ul li {
    padding: 2%;
    text-align: right;
  }
  .img_div {
    flex-direction: column;
    align-items: center;
  }
  .img_div-wrapper,
  .babor {
    width: 90%;
  }
  .babor {
    text-align: center;
  }
  .baba {
    flex-direction: column;
    align-items: center;
  }
  .love {
    width: 90%;
  }
  .jekono,
  .woman {
    width: 90%;
    text-align: center;
  }
  .woman img {
    width: 100%;
    text-align: center;
  }
  .experience {
    top: -10%;
    position: relative;
  }
  .chesta {
    flex-direction: column;
  }
  .fact,
  .fact-color {
    text-align: center;
  }
  .app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .app img {
    width: 22%;
  }
}
